.modal {
  justify-content: center;
  align-items: center;
}

.updateinput {
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 8px;
  width: 60%;
  margin-left: 70%,
}
.updateModal {
  justify-content: center;
}
