/* Header in About Section */
.about {
  padding-top: 4%;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto';
  color: #0A5C8F;
  text-decoration: underline;
}
.flex-container {
  display: flex;
  padding-bottom: 5%;
}
.flex-container > div {
  margin: auto;
}
/*Developer cards*/
.card-component {
  width: 450px;
  margin:auto;
  text-align: center;
  padding-top:10%;
  padding-bottom: 10%;
  margin-top: 5%;
  border: 1px dotted  #0A5C8F;
  
}
/*Icons section used in developer cards*/
.icons{
  text-align: center;
}
/*LinkedIn and Github icons*/
.icon {
  margin-right: 5%;
  font-size: 30px;
  margin-top:2%;
  margin-bottom: 2%;
}
/*card content*/
.card-title {
  font-size: 20px;
}
.card-text{
  font-size: 16px;
}
p.card-text{
  font-size: 16px;
}
.developer-img {
  border-radius: 50%;
  height: 200px;
  max-width: 60%;
  margin: auto;
}
/*Contact button in the card*/
#contact {
  width: 200px;
  background-color: #0A5C8F !important;
  border: none;
  padding: 3%;
}
/*Responsive Media queries*/
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}